@{
    ViewData["Title"] = "Home";
}
@model HomeModel
@using TeamGosuWebApp.Models

<!-- Header section end -->
<!-- Hero section -->
<section style="background-image: url('img/TeamGosuCloudBackground.png'); background-repeat: no-repeat; background-size: cover; padding-top: 125px;">
    <div class="header-warp">
        <div class="hero-slider owl-carousel">
            <div class="hero-item d-flex align-items-center justify-content-center text-center">
                <div class="container" style="overflow: hidden;">
                    <div class="hero-image-container">
                        <img src="~/news/2022-11-02/GiveawayLarge.png" width="100%" height="100%" class="hero-image" alt="" loading="lazy" />
                    </div>
                    <a href="/News/TeamGosuFundraiser" class="site-btn" style="margin: 25px;">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="hero-item d-flex align-items-center justify-content-center text-center">
                <div class="container" style="overflow: hidden;">
                    <div class="hero-image-container">
                        <img src="~/img/TeamGosuLogoTransparent.png" width="100%" height="100%" class="hero-image" alt="" loading="lazy" />
                    </div>
                    <p style="color:#fff;">Professional Starcraft 2 Team and Community</p>
                    <a href="#intro-section" class="site-btn" style="margin-bottom: 25px;">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="hero-item d-flex align-items-center justify-content-center text-center">
                <div class="container hero-iframe-container">
                    <iframe class="hero-iframe"
                            src="https://youtube.com/embed/sDE6liH0Pgc"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end-->
<!-- Intro section -->
<section class="intro-section spad" id="intro-section">
    <div class="container">
        <div class="section-title text-white">
            <h2>Check us out on...</h2>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top: 25px;">
                <div class="intro-text-box text-box text-white">
                    <div style="display: flex; margin: 5px;">
                        <img style="margin: 5px;" src="~/img/icons/twitch.svg" height="35" />
                        <h3 style="margin: 5px;">Twitch</h3>
                    </div>
                    <p>Catch the latest team leagues and events that are happening on our Twitch channel. All events will be streamed here.</p>
                    <a style="margin: 15px; margin-left: 5px" href="https://twitch.teamgosu.gg/" class="read-more">Watch  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
                <div class="intro-text-box text-box text-white">
                    <div style="display: flex;">
                        <img style="margin: 5px;" src="~/img/icons/discord.svg" height="35" />
                        <h3 style="margin: 5px;">Discord</h3>
                    </div>
                    <p>Our discord is open to everyone. We host events sponsored by the team including 1v1 tournaments, 2v2 random team tournaments, peep modes and more! If you want to join the team, ask a mod in the Discord as well. Members can join our "Settle the Beef" in-clan ladder, participate in team leagues and be part of a thriving Starcraft 2 community.</p>
                    <a style="margin: 15px; margin-left: 5px" href="https://discord.teamgosu.gg/" class="read-more">Join  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
                <div class="intro-text-box text-box text-white">
                    <div style="display: flex;">
                        <img style="margin: 5px;" src="~/img/icons/patreon.svg" height="35" />
                        <h3 style="margin: 5px;">Patreon</h3>
                    </div>
                    <p>Becoming a patron directly helps fund the team. These funds go towards hosting tournaments, showmatches, player salaries, and other Team Gosu events. The more patrons we have, the more we can afford to do!</p>
                    <a style="margin: 15px; margin-left: 5px" href="https://www.patreon.com/Teamgosusc2" class="read-more">Contribute  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<!-- News section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="section-title text-white">
                    <h2>Recent Stuff</h2>
                </div>
                @{
                    bool isFirstStory = true;
                    foreach (NewsStory story in Model.GetLatestStories()) {
                        String uiPublishDate = Model.GetUiPublishDate(story);
                        if (!isFirstStory) {
                                                            <div class="white-divider-line"></div>
                        } else {
                            isFirstStory = false;
                        }

                                            <div class="news-story-container">
                                                <div class="news-story-image-container">
                                                    <img src="@story.ImageUrl" alt="" loading="lazy">
                                                </div>
                                                <div class="news-story-text-container">
                                                    <div class="news-story-date">@uiPublishDate</div>
                                                    <h3 class="news-story-title">@story.Title</h3>
                                                    <p class="news-story-content">@story.Content</p>
                                                    @if (story.DetailsUrl != null) {
                                                        <a href="@story.DetailsUrl" class="read-more text-white">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                                }
                                                </div>
                                            </div>
                    }
                }
            </div>
            <div class="text-white">
                <h2><a href="/News" class="read-more">All News  <img src="~/img/icons/double-arrow.png" alt="#" /></a></h2>
            </div>
        </div>
    </div>
</section>
