@{
    ViewData["Title"] = "News";
}
@model NewsModel
@using TeamGosuWebApp.Models

<!-- News section -->
<section class="blog-section spad" style="padding-top: 200px;">
    <div class="container">
        <div class="row">
            <div>
                <div class="section-title text-white">
                    <h2>News</h2>
                </div>
                <div class="news-pages-list-container">
                    @{
                        int leftPage = Math.Max(Model.GetCurrentPage() - 1, 1);
                        int rightPage = Math.Min(Model.GetNumPages(), Model.GetCurrentPage() + 1);
                    }
                    <a href="/News?page=@leftPage" class="news-pages-list-entry"><img src="~/img/icons/arrow-left.png" alt="#" /></a>

                    @for (int pageNumber = 1; pageNumber < Model.GetNumPages() + 1; pageNumber++) {
                        if (pageNumber == Model.GetCurrentPage())
                        {
                            <a href="/News?page=@pageNumber" class="news-pages-list-entry-current">@pageNumber</a>
                        }
                        else
                        {
                            <a href="/News?page=@pageNumber" class="news-pages-list-entry">@pageNumber</a>
                        }
                    }

                    <a href="/News?page=@rightPage" class="news-pages-list-entry"><img src="~/img/icons/arrow-right.png" alt="#" /></a>
                </div>
                @{
                    bool isFirstStory = true;
                    foreach (NewsStory story in Model.GetStoriesOnPage()) {
                        String uiPublishDate = Model.GetUiPublishDate(story);
                        if (!isFirstStory) {
                                <div class="white-divider-line"></div>
                        } else {
                            isFirstStory = false;
                        }

                        <div class="news-story-container">
                             <div class="news-story-image-container">
                                 <img src="@story.ImageUrl" alt="">
                             </div>
                             <div class="news-story-text-container">
                                 <div class="news-story-date">@uiPublishDate</div>
                                 <h3 class="news-story-title">@story.Title</h3>
                                 <p class="news-story-content">@story.Content</p>
                                 @if (story.DetailsUrl != null) {
                                     <a href="@story.DetailsUrl" class="read-more text-white">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                                 }
                             </div>
                        </div>
                    }
                }

                <div class="news-pages-list-container">
                    <a href="/News?page=@leftPage" class="news-pages-list-entry"><img src="~/img/icons/arrow-left.png" alt="#" /></a>

                    @for (int pageNumber = 1; pageNumber < Model.GetNumPages() + 1; pageNumber++) {
                        if (pageNumber == Model.GetCurrentPage()) {
                            <a href="/News?page=@pageNumber" class="news-pages-list-entry-current">@pageNumber</a>
                        } else {
                            <a href="/News?page=@pageNumber" class="news-pages-list-entry">@pageNumber</a>
                        }
                    }

                    <a href="/News?page=@rightPage" class="news-pages-list-entry"><img src="~/img/icons/arrow-right.png" alt="#" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
